*{
  margin: 0;
  padding: 0;
  box-sizing: border-border-box;
}

:root {
  --purple-dark: #170312;
  --purple-mediunm: #33032d;
  --purple-light: #531253;
  --gray-light: #eaeaea;
  --white: #f4fffd;
}

body {
  font-size: 20px;
  font-family: 'open sans', sans-serif;
}
::-moz-scrollbar{
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
p {
  font-size: 22px;
}

/*Header de la pagina*/
.contenido-header {
  width: 100%;
  height: 100vh;
  /*background-image: url("../img/header.png");*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
/*.linkwrap { position:relative; display:inline-block; }*/
.video iframe {
  background-color: var(--purple-mediunm);
  position:absolute;
  height:100vh;
  width:100%;
  z-index:1;
}
/*.linkwrap iframe { /*z-index: 2;}*/

/*menu*/
.menu {
  background-color: var(--purple-mediunm);
  width: 100%;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  margin-bottom: 60px;
}

.menu a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  background-color: var(--purple-mediunm);
  margin 0 10px;
  transition: .5s ease all;
  color: var(--gray-light);
  text-decoration: none;
}

.menu a:hover {
  transform: translateY(18px);
  background-color: var(--purple-light);
}

.nosotros {
  margin-bottom: 0px;
}

.subtitulo {
  font-size: 20px;
  color: var(--purple-dark);
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  z-index: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo span {
  background-color: var(--gray-light);
  padding: 0 15px;
  z-index: 99;
  position: relative;
}

.subtitulo::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  background: var(--purple-dark);
  position: relative;
  top: -29px;
  z-index: 1;
}

.nosotros .titulo {
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.nosotros .enlace {
  display: inline-block;
  margin-top: 40px;
  color: var(--purple-light);
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: .3s ease all;
}

.nosotros .enlace:hover {
  text-decoration: none;
  letter-spacing: 3px;
  border-bottom: 1px solid var(--purple-light);
}

/*marcas*/
.productos {
  background: var(--gray-light);
  padding: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
}
.mision {
  background-image: url("../img/fondomision.jpg");
  padding: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  /*background-image: url("../img/header.png");*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.productos .btn-productos {
	background-color: var(--purple-light);
	color: #fff;
	padding: 7px 20px;
  margin-top: 20px;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid transparent;
	transition: .3s ease;
}

.productos .btn-productos:hover {
	background-color: transparent;
	border: 2px solid var(--purple-light);
	color: var(--purple-light);
}

.img-fluid {
  width: 150px;
  height: 150px;
  margin-left: 40px;
}

.productos .titulo {
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.productos .producto {
  position: relative;
  width: 150px;
}

.productos .overlay {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--purple-light);
  overflow: hidden;
  transition: .5s ease;
    margin-left: 40px;
}

.productos .producto:hover .overlay {
  height: 30%;
  opacity: .8;
}

.productos .producto .overlay-texto {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

/*Separador*/
.separador {
  width: 100%;
  background-image: url("../img/separador5.jpg");
  height: 250px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.separador p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  padding: 10px;
}

/* Acerca de */
.acerca-de {
	margin-bottom: 60px;
}
.acerca-de img{
  width: 75px;
  height: 75px;
}

/* Galeria */
.galeria {
	margin-bottom: 60px;
}

.galeria img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.contacto {
	margin-bottom: 30px;
}
.contacto img{
  width: 40px;
  height: 40px;
  margin: 3px;
}

.redes-sociales {
	padding: 10px;
	background-color: var(--purple-light);
}

.redes-sociales img {
	padding: 5px;
	border-radius: 100%;
	width: 50px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}

/* Mediaqueries */
@media screen and (max-width: 992px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 60px;
	}

	.menu a {
		font-size: 20px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}
}
/*Inicio de Sesion*/
.fondoSesion{
  background-image: url("../img/fondoSesion.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
form{
  margin: auto;
  width: 50%;
  max-width: 500px;
  background-color: rgba(51, 3, 45, 0.8);
  padding: 30px;
  border-radius: 10px;
}
.IniciarSesion{
  text-align: center;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 40px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}
.imgSesion{
  width: 30%;
  border: 3px solid;
  border-radius: 100%;
  border-color: var(--white);
}
.divSesion{
  margin-top: -80px;
}
input{
  display: block;
  padding: 10px;
  width: 100%;
  margin: 30px 0;
  font-size: 20px;
  border-radius: 5px;
}
.enlace {
  display: inline-block;
  margin-top: 0px;
  color: var(--white);
  font-weight: 70;
  transition: .3s ease all;
  text-decoration: none;
}
.enlace:hover {
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--purple-dark);
}
.btnSesion{
  background-color: var(--purple-dark);
  border: 0;
  color: var(--white);
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 0.8;
}
.btnSesion:hover{
  opacity: 1;
}
.btnSesion:active{
transform: scale(.95);
border-radius: 0px;
}
.recuperar{
  color: var(--white);
}
@media screen and (max-width: 768px) {
	form{
		width: 75%;
	}
}
@media screen and (max-width: 480px) {
  	form{
  		width: 95%;
  	}
  }
